/* .App {
    background-image: url("img/e_commerce_background.jpg");
    background-image: url("img/fond-ecommerce3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
body {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
